* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}

body {
    background: #e5e5e5;

}

form {
    box-shadow: 2px 6px 100px #ffffff;

}

.container {
    font-style: italic;
    font-family: "Open Sans", sans-serif;

    border-radius: 15px;

}

.btn-primary {
    background-color: transparent; /* Сделать фон ссылки прозрачным */
    border: 2px solid silver; /* Оранжевая рамка */
    color: black;

}

.btn-primary:hover {
    background-color: #e5e5e5; /* Изменить фон при наведении на оранжевый */
    color: black; /* Сделать текст белым при наведении */
    border: 2px solid #f15d43; /* Оранжевая рамка */
}

.form-control {
    border: 2px solid silver;
}

.form-control:focus {
    border-color: #f15d43;
    box-shadow: none;
}

#showPasswordButton {
    border: 2px solid silver; /* Оранжевая рамка */
    background-color: transparent;
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}

#showPasswordButton.visible {
    border: 2px solid #f15d43; /* Оранжевая рамка */
}





