body {
    font-size: 1.6rem;
    font-family: "Open Sans", sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #e5e5e5;
    color: #2b3e51;
    transition: background-color 0.3s, color 0.3s;
    position: relative;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
}

#rentCarText {
    font-style: italic;
    font-size: 80px;
    font-weight: bold;
    text-align: left;
    padding: 50px 200px;
    border-radius: 15px;
    color: black;
    border: 4px solid #f15d43;
}

.login-button {
    position: absolute;
    top: 20px;
    right: 20px;
    background-color: transparent;
}

.login-button a {
    background-color: transparent;
    font-style: italic;
    font-weight: bold;
    border: 2px solid #f15d43;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 15px;
    color: black;
}

.login-button a:hover {
    background-color: #f15d43;
    color: white;
}

.visit-website-button {
    position: absolute;
    bottom: 20px;
    right: 20px;
}

.visit-website-button a {
    background-color: transparent;
    font-style: italic;
    font-weight: bold;
    border: 2px solid #f15d43;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 15px;
    color: black;
}

.visit-website-button a:hover {
    background-color: #f15d43;
    color: white;
}

body.dark-theme {
    background-color: black;
    color: white; /* Устанавливаем белый цвет шрифта при черном фоне */
}

body.dark-theme #rentCarText {
    color: white; /* Устанавливаем белый цвет шрифта для элемента #rentCarText при темной теме */
}

body.dark-theme .login-button a,
body.dark-theme .visit-website-button a{
    color: white; /* Устанавливаем белый цвет шрифта для кнопок при темной теме */
}
body.dark-theme .theme-button button {
    color: white; /* Устанавливаем белый цвет шрифта на кнопке смены темы при темной теме */
}

.theme-button {
    position: fixed;
    top: 20px;
    left: 20px;
}

.theme-button button {
    background-color: transparent;
    font-style: italic;
    font-weight: bold;
    border: 2px solid #f15d43;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 15px;
    cursor: pointer;
}

.theme-button button:hover {
    background-color: #f15d43;
    color: white;
}
